html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #323C47;
    font-size: 10px;
}

/*滚动条*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #e1e1e2;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cfcfd1;
}

/*清除浮动*/
.clearfix:before {
    display: table;
    content: "";
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

.dn {
    display: none !important;
}

.l {
    float: left;
}

.r {
    float: right;
}

.box-s {
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
}

.cus-slider {
    position: relative;
    overflow: hidden;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    padding: 0 30px;
    background: #FFF;
}

.cus-slider .container {
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.cus-slider .prev, .cus-slider .next {
    display: block;
    position: absolute;
    width: 26px;
    height: 40px;
    background: #999;
    cursor: pointer;
}

.cus-slider .prev {
    left: 0;
    background: url("../img/res-l.png") no-repeat center center;
}

.cus-slider .next {
    right: 0;
    background: url("../img/res-r.png") no-repeat center center;
}

.cus-slider .prev:hover {
    left: 0;
    background: url("../img/res-l-h.png") no-repeat center center;
}

.cus-slider .next:hover {
    right: 0;
    background: url("../img/res-r-h.png") no-repeat center center;
}

.cus-slider .content {
    float: left;
    width: 100px;
    height: 40px;
    margin: 0 6px;
}

.ans-e-num .nav {
    display: none;
}

.pi-jp-item {
    float: left;
}

.pi-jp-label {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

.pi-jp-switch {
    position: relative;
    width: 44px;
    height: 22px;
    float: left;
    margin-left: 16px;
    box-sizing: border-box;
    background: #CCCCCC;
    border-radius: 40px;
    cursor: pointer;
    padding: 2px;
    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    user-select: none;
    transition: all linear .2s;
}

.pi-jp-switch.active {
    background: #5BA2EA;
}

.switch-y {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 18px;
    margin-left: 5px;
}

.switch-n {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 18px;
    margin-left: 3px;
}

.switch-icon {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: #FFFFFF;
    box-sizing: border-box;
    transition: all linear .2s;
}

.active .switch-icon {
    left: 24px;
}
