.main-index {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #F4F6F9;
    overflow: auto;
}

.mi-top {
    width: 100%;
    height: 435px;
}

.mi-top-left {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

.mi-top-mid {
    float: left;
    width: 33.33%;
    padding: 10px 0;
    box-sizing: border-box;
}

.mi-top-right {
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
}

.mi-title {
    font-size: 14px;
    color: #323C47;
    height: 40px;
    line-height: 40px;
}

.mi-title-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url("../img/index.png") no-repeat -276px -94px;
    vertical-align: text-bottom;
}

.mi-title-link {
    float: left;
}

.mi-select {
    float: right;
}

.mi-refresh {
    width: 30px;
    height: 30px;
    background: url("../img/index.png") no-repeat -272px -55px;
    cursor: pointer;
    float: right;
    margin-top: 5px;
    margin-left: 10px;
}

.mi-refresh:hover {
    width: 30px;
    height: 30px;
    background: url("../img/index.png") no-repeat -308px -55px;
}

.mi-wrapper {
    position: relative;
    width: 100%;
    height: 370px;
}

.mi-wrapper-container {
    display: none;
}

.mi-blank-container {
    position: relative;
    width: 100%;
    height: 370px;
    background-color: #FFFFFF;
    margin-top: 5px;
    border-radius: 6px;
}

.mi-blank {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    margin: auto;
    width: 169px;
    height: 135px;
    background: url("../img/blank.png") no-repeat center center;
    background-size: cover;
}

.mi-blank-label {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -15px;
    color: #323C47;
}

.mi-box {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    height: 120px;
    margin-top: 5px;
    box-sizing: border-box;
    padding-right: 90px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.mi-new {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    height: 120px;
    margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.mi-box:hover, .mi-new:hover {
    border: 1px solid #5BA2EA;
}

.mi-box-body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 0 10px 35px;
    box-sizing: border-box;
}

.mi-new-body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 0 20px 35px;
    box-sizing: border-box;
}

.mi-box-icon {
    position: absolute;
    top: 15px;
    left: 12px;
    display: block;
    width: 15px;
    height: 15px;
    background: url("../img/lesson.png") no-repeat -234px -171px;
}

.mi-new-icon {
    position: absolute;
    top: 25px;
    left: 12px;
    display: block;
    width: 15px;
    height: 15px;
    background: url("../img/lesson.png") no-repeat -253px -170px;
}

.mi-box-title {
    font-size: 15px;
    color: #323C47;
    font-weight: 600;
    padding: 5px 0 10px;
}

.mi-box-class {
    font-size: 14px;
    color: #323C47;
    font-weight: 600;
    padding: 5px 0;
}

.mi-box-start, .mi-box-end, .mi-box-opt {
    font-size: 11px;
    color: #808FA3;
    padding-top: 10px;
}

.mi-new-borrow {
    position: absolute;
    top: -1px;
    right: 10px;
    display: inline-block;
    width: 21px;
    height: 23px;
    background: url(../img/lesson.png) -280px -132px no-repeat;
}

.mi-box-plan {
    position: absolute;
    right: 15px;
    top: 25px;
    width: 70px;
    height: 70px;
}

.mi-box-label {
    position: absolute;
    /*width: 55px;*/
    /*height: 50px;*/
    width: 65px;
    height: 60px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding-top: 5px;
    box-sizing: border-box;
}

.mi-box-progress {
    font-size: 14px;
    color: #808FA3;
    text-align: center;
    line-height: 20px;
}

.mi-box-progress .progress-now {
    font-size: 24px;
    color: #323C47;
}

.mi-box-status {
    font-size: 12px;
    color: #323C47;
    text-align: center;
}

.mi-container {
    width: 100%;
    height: 370px;
    margin-top: 5px;
    background: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);
    border-radius: 6px;
}

.mi-con-header {
    width: 100%;
    height: 170px;
    background: linear-gradient(-90deg, #9BACEC 0%, #82B5FF 97%) no-repeat;
    border-radius: 6px 6px 0 0;
}

.mi-con-bg {
    width: 100%;
    height: 100%;
    background: url("../img/paihang@2x.png") no-repeat center bottom 50px;
    background-size: 262px 102px;
}

.mi-con-body {
    background-color: #FFFFFF;
}

.rank-group {
    width: 70px;
    height: 100px;
    margin: 40px auto;
}

.rank-group-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #B1B5BA;
    box-sizing: border-box;
    text-align: center;
    line-height: 64px;
    font-size: 26px;
}

.rank-group-name {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    color: #323C47;
}

.mi-bottom {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.mi-count {
    width: 100%;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.02);
    border-radius: 6px;
    margin-bottom: 40px;
}

.rank-left, .rank-top, .rank-right {
    position: relative;
    float: left;
    width: 33.33%;
    height: 200px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 6px;
}

.rank-top {
    top: -30px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0 2px 4px 0 rgba(237,237,237,0.50);
    border-radius: 6px;
}

.rank-icon {
    display: block;
    position: absolute;
    width: 34px;
    height: 40px;
    top: -15px;
    left: 0;
    right: 0;
    margin: auto;
}

.rank-left .rank-icon {
    background: url("../img/index.png") no-repeat -312px -120px;
}

.rank-top .rank-icon {
    background: url("../img/index.png") no-repeat -270px -120px;
}

.rank-right .rank-icon {
    background: url("../img/index.png") no-repeat -355px -120px;
}

.mi-con-footer {
    width: 100%;
}