body {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrap {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    background: #E6E3E3;
    border: 1px solid #e4e4e4;
}

/*
	*zoom:1;
    *display:inline;是为了使得inline-block兼容ie6,7
*/
.slider-content {
    color: #222;
    font-size: 12px;
    vertical-align: top;
    margin-bottom: 3px;
    line-height: 20px;
    margin-top: 19px;
}

.slider-label,
.slider-left-label,
.slider-right-label {
    width: 50px;
    vertical-align: top;
    display: inline-block;
    text-align: left;
    color: #343;
    height: 26px;
    *zoom: 1;
    *display: inline;
}

.slider-setting {
    margin-left: 9px;
    margin-right: 9px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    *zoom: 1;
    *display: inline;
}

.slider-setting::after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
    clear: both;
}

.slider-component {
    width: 175px;
    padding-top: 5px;
    height: 13px;
    clear: both;
    position: relative;
}

.slider-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slider-tracker {
    position: absolute;
    width: 92%;
    height: 6px;
    left: 0;
    border-radius: 4px;
    top: 50%;
    smargin-top: -3px;
    background-color: #bbb;
}

.slider-handle {
    /*position: absolute;*/
    /*top: -12px;*/
    height: 15px;
    width: 15px;
    margin-top: 6px;
    border-radius: 25px;
    border: 1px solid #e4e4e4;
    cursor: pointer;
    z-index: 1;
    background: #fff;
    left: 0%;
    /*margin-left: -7px;*/
}

.slider-progress {
    width: 0%;
    height: 100%;
    border-radius: 4px;
    background-color: #00a1d6;
    position: relative;
}

.slider-input-div {
    display: inline-block;
    margin-left: 9px;
    margin-top: 3px;
    width: 80px;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    *zoom: 1;
    *display: inline;
}

.slider-input-div input {
    width: 50px;
    height: 100%;
    text-align: center;
    border: 1px solid #222;
}
