/*试题预览*/
.exam-scan {
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    color: #323C47;
    line-height: 30px;
    margin-bottom: 12px;
}

.exam-score {

    /*display: inline-block;*/
    /*width: 80px;*/
    font-size: 16px;
    color: #808FA3;
    letter-spacing: 0;
    padding-right: 10px;
    display: none;
}

.exam-flag {
    display: inline-block;
    width: 20px;
}

.exam-scan-o-li, .exam-scan-h {
    padding-left: 20px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    position: relative;
    min-height: 30px;
}

.exam-scan-h {
    padding-left: 40px;
}

.exam-tip, .exam-ana {
    display: inline-block;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.exam-tip.true-answer {
    left: -4px;
    top: 5px;
    height: 20px;
    line-height: 19px;
    background: #68C426;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.exam-tip.half-true {
    left: -4px;
    top: 5px;
    height: 20px;
    line-height: 19px;
    background: #FFD012;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.exam-tip.false-answer {
    left: -4px;
    top: 5px;
    height: 20px;
    line-height: 19px;
    background: #FF6D4A;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.cus-com.true-answer {
    color: #68C426;
}

.cus-com.false-answer {
    color: #FF6D4A;
}

.empty-view {
    width: 100%;
    height: 100%;
    background: url("../../img/empty-pad.png") no-repeat center;
    position: relative;
}

.empty-view .empty-text {
    color: #C5D1E6;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 58%;
    left: 0;
    width: 100%;
}

.exam-ana {
    width: 40px;
    color: #5BA2EA;
}

.judge-tip {
    display: inline-block;
    width: 20px;
    height: 30px;
    background: url("../../img/radio-off.png") no-repeat 0 8px;
}

.judge-tip.true-answer {
    top: 5px;
    background: url("../../img/judge-true.png") no-repeat center center;
}

.judge-tip.false-answer {
    top: 5px;
    background: url("../../img/judge-false.png") no-repeat center center;
}

.exam-scan-small-box {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-left: 20px;
}

.cus-com {
    border: none;
    border-bottom: 1px solid #323C47;
    width: 55px;
    outline: none;
    color: #323C47;
    text-align: center;
    margin: 0 10px;
    /*background: #F4F6F9;*/
}

.exam-scan-hh .exam-ana {
    position: inherit;
}

.exam-scan-hh .exam-text {
    position: relative;
}

.exam-scan-hh .exam-text .imgUP {
    width: 160px;
    height: 200px;
    margin: 0 20px 0 0;
}

.exam-scan-hh .exam-text .flag {
    position: absolute;
    right: 0;
    top: -27px;
    display: inline-block;
    width: 36px;
    height: 36px;
}

.exam-scan-hh .exam-text .flag.true-answer {
    background: url("../../img/quandui_icon@2x.png") center no-repeat;
    background-size: 30px 30px;
}

.exam-scan-hh .exam-text .flag.half-true {
    background: url("../../img/bandui_icon@2x.png") center no-repeat;
    background-size: 30px 30px;
}

.exam-scan-hh .exam-text .flag.false-answer {
    background: url("../../img/quancuo_icon@2x.png") center no-repeat;
    background-size: 30px 30px;
}

.exam-scan .imgUP {
    width: 160px;
    height: 200px;
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}

.short-no-answer {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #FF6D4A;
    text-indent: 50px;
}

.exam-scan td, th {
    border: 1px solid #EDEDED !important;
    line-height: 46px;
}

/*资源包*/
.exam-res-package {
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    position: relative;
    padding: 48px 0 0px;
    background: #F4F6F9;
}

.exam-res-package .exam-res-package-top {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 40px;*/
}

.exam-res-package .exam-res-package-bot {
    width: 100%;
    height: 100%;
    position: relative;
}

.exam-res-package .exam-res-package-bot .sel-res-con-item {
    /*width: 99%;*/
    /*margin: 0 auto;*/
}

.e-l-edit-con .edui-for-completion {
    display: none !important;
}

/*预览*/
.pre-container {
    padding: 60px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
}

.pre-container .exam-scan-h {
    display: none;
}

.pre-container p {
    line-height: 30px;
}

.pre-container .pre-act-name {
    font-size: 14px;
    color: #323C47;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
}

.pre-container .inner-res {
    width: 280px;
    height: 35px;
    padding: 15px 10px 15px 10px;
    position: relative;
    cursor: pointer;
}

.pre-container .inner-res span {
    display: inline-block;
    height: 35px;
    float: left;
}

.pre-container .inner-res .pic-back {
    display: inline-block;
    float: left;
    border-radius: 2px;
    width: 40px;
    margin-right: 10px;
}

.pre-container .inner-res .name {
    width: auto;
    max-width: 150px;
    font-size: 12px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    white-space: nowrap;
}

.pre-container .inner-res .error {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    background: url(../../img/lesson.png) no-repeat -251px -252px;
}

.pre-container .inner-res .ing {
    width: 15px;
    height: 15px;
    background: url(../../img/lesson.png) no-repeat -246px -220px;
}

.pre-container .inner-res .del {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url(../../img/lesson.png) no-repeat -283px -253px;
}

.pre-container .inner-res .music {
    background: url(../../img/lesson.png) no-repeat -201px -292px;
}

.pre-container .inner-res .pic {
    background: url(../../img/lesson.png) no-repeat -264px -292px;
}

.pre-container .inner-res .mp4 {
    background: url(../../img/lesson.png) no-repeat -329px -292px;
}

.pre-container .inner-res .pdf {
    background: url(../../img/lesson.png) no-repeat -385px -292px;
}

.pre-container .inner-res .word {
    background: url(../../img/lesson.png) no-repeat -445px -292px;
}

.pre-container .inner-res .txt {
    background: url(../../img/txt-s.png) no-repeat center;
}

.pre-container .inner-res .real-pdf {
    background: url(../../img/pdf1@2x.png) no-repeat center;
    background-size: 38px 34px;
}

.pre-container .inner-res {
    background: #FFFFFF;
    border: 1px solid #F4F6F9;
    margin-bottom: 10px;
}

.question-item table {
    display: inline-block !important;
}

.question-item td {
    /*line-height: 1em !important;*/
    height: auto !important;
    font-size: 28px;
    padding: 0;
    text-align: center;
}

.question-item tr:first-child td {
    /*line-height: 1em !important;*/
    height: auto !important;
}

.question-item .exam-flag {
    float: left;
}

.question-item .exam-scan-intro {
    display: block;
}

.question-item .exam-ku-item-top {
    background-color: #f4f9ff;
}

/*
*页面预览完形填空相关内容
*/
.scan-cloze {

}

.scan-cloze-answer {
    /*padding-left: 19px;*/
    display: flex;
}

.scan-cloze-flag {
    display: inline-block;
    width: 45px;
    text-align: center;
}

.scan-cloze-option {
    width: 88%;
    display: flex;
    justify-content: space-between;
}
.scan-cloze-item{
    width: 30%;
}
.scan-cloze-item-index{
    display: inline-block;
    margin-right: 5px;
}
.cloze-selected {
    border: 1px solid #4291FF;
    color: #4291FF;
}

a{
    font-size: 28px;
    color: #323C47;
    cursor:default;
}

.exam-qiniu-image{
    vertical-align: middle;
}