.edit-lesson {
    width: 100%;
    height: 100%;
    padding-top: 140px;
    position: relative;
    background: #F4F6F9;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
}

.edit-lesson .edit-lesson-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

.edit-lesson .edit-lesson-bot {
    width: 100%;
    height: 100%;
    padding: 0 12px 5px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
}

.el-act-e {
    height: 50px;
    margin: 0 12px;
    background: #FFF;
}

.el-menu {
    width: 100%;
    height: 40px;
    background: #FFF;
    font-size: 12px;
    color: #323C47;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    padding: 0 20px;
}

.el-menu span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    cursor: pointer;
}

.el-act-list {
    width: 100%;
    height: 50px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    padding: 10px 140px 0 12px;
    position: relative;
}

.el-act-list-box {
    height: 40px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    max-width: 100%;
    width: auto;
    padding-right: 30px;
    position: relative;
    display: inline-block;
}

.el-act-btn {
    position: absolute;
    right: 0;
    top: 10px;
    width: 160px;
    height: 40px;
}

.el-act-name-list {
    width: auto;
    max-width: 100%;
    height: 40px;
    display: inline-block;
}

.el-a-item-name {
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 8px;
    color: #323C47;
    font-weight: bold;
    cursor: pointer;
    min-width: 50px;
    overflow: hidden;
}

.el-a-item-name.active {
    background: #FFFFFF;
    border-radius: 10px 10px 0 0;
}

.el-act-add-btn {
    position: absolute;
    right: 0px;
    top: 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/add-act.png") no-repeat center;
    /*background: red;*/
    cursor: pointer;
}

.el-act-btn .cus-button {
    width: 60px !important;
    margin-right: 16px !important;
    height: 28px !important;
    line-height: 28px !important;
}

.e-l-edit-con {
    background: #FFF;
    width: 100%;
    height: 100%;
}

/*试题预览*/
.exam-scan {
    width: 100%;
    height: auto;
    font-size: 12px;
    color: #323C47;
    line-height: 30px;
    margin-bottom: 12px;
}
.exam-score{
    display: inline-block;
    width: 60px;
    background-color: red;
}
.exam-flag {
    display: inline-block;
    width: 20px;
}

.exam-scan-o-li, .exam-scan-h {
    padding-left: 20px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    position: relative;
    min-height: 30px;
}

.exam-scan-h {
    padding-left: 40px;
}

.exam-tip, .exam-ana {
    display: inline-block;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
}

.exam-tip.true-answer{
    left: -4px;
    top: 5px;
    height: 20px;
    line-height: 19px;
    background: #68C426;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.exam-tip.half-true{
    left: -4px;
    top: 5px;
    height: 20px;
    line-height: 19px;
    background: #FFD012;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.exam-tip.false-answer{
    left: -4px;
    top: 5px;
    height: 20px;
    line-height: 19px;
    background: #FF6D4A;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.cus-com.true-answer{
    color: #68C426;
}

.cus-com.false-answer{
    color:#FF6D4A;
}

.empty-view{
    width: 100%;
    height: 100%;
    background: url("../img/empty-pad.png") no-repeat center;
    position: relative;
}

.empty-view .empty-text{
    color: #C5D1E6;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 58%;
    left: 0;
    width: 100%;
}

.exam-ana {
    width: 40px;
    color: #5BA2EA;
}

.judge-tip {
    display: inline-block;
    width: 20px;
    height: 30px;
    background: url("../img/radio-off.png") no-repeat 0 8px;
}

.judge-tip.true-answer{
    top: 5px;
    background: url("../img/judge-true.png") no-repeat center center;
}

.judge-tip.false-answer{
    top: 5px;
    background: url("../img/judge-false.png") no-repeat center center;
}

.exam-scan-small-box {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-left: 20px;
}

.cus-com{
    border: none;
    border-bottom:1px solid #323C47;
    width: 55px;
    outline: none;
    color: #323C47;
    text-align: center;
    margin:0 10px;
    /*background: #F4F6F9;*/
}

.exam-scan-hh .exam-ana{
    position: inherit;
}

.exam-scan-hh .exam-text{
    position: relative;
}

.exam-scan-hh .exam-text .imgUP{
    width: 160px;
    height: 200px;
    margin: 0 20px 0 0;
}

.exam-scan-hh .exam-text .flag{
    position: absolute;
    right: 0;
    top: -27px;
    display: inline-block;
    width: 36px;
    height: 36px;
}

.exam-scan-hh .exam-text .flag.true-answer{
    background: url("../img/quandui_icon@2x.png") center no-repeat;
    background-size: 30px 30px;
}

.exam-scan-hh .exam-text .flag.half-true{
    background: url("../img/bandui_icon@2x.png") center no-repeat;
    background-size: 30px 30px;
}

.exam-scan-hh .exam-text .flag.false-answer{
    background: url("../img/quancuo_icon@2x.png") center no-repeat;
    background-size: 30px 30px;
}

.exam-scan .imgUP{
    width: 160px;
    height: 200px;
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
}
.short-no-answer{
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #FF6D4A;
    text-indent: 50px;
}

.exam-scan td,th{border: 1px solid #EDEDED !important;line-height: 46px;}

/*资源包*/
.exam-res-package {
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    position: relative;
    padding: 48px 0 0px;
    background: #F4F6F9;
}

.exam-res-package .exam-res-package-top{
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 40px;*/
}

.exam-res-package .exam-res-package-bot{
    width: 100%;
    height:100%;
    position: relative;
}

.exam-res-package .exam-res-package-bot .sel-res-con-item{
    /*width: 99%;*/
    /*margin: 0 auto;*/
}

.e-l-edit-con .edui-for-completion{
    display: none !important;
}

/*题目录入*/
.edit-exam-cond{
    width: 96%;
    padding: 0 2%;
    height: 170px;
    background: #FFF;
}

.edit-exam-cond.no-padding{
    width: 100%;
    padding: 0;
}

.edit-exam-cond .condition-item{
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    padding-left: 65px;
    position: relative;
}

.condition-item .con-one-left{
    position: absolute;
    width: 55px;
    left: 0;
    top: 0;
    height: 100%;
    text-align: right;
    line-height: 30px;
}

.condition-item .con-one-left .error{
    padding-right: 5px;
}

.condition-item .con-one-right{
    width: 100%;
    height: auto;
}

.condition-item .con-one-right .select-exam-type{
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 2px;
}

.condition-item .con-one-right .item{
   padding-left: 0 !important;
}

.edit-exam-bot{
    width: 96%;
    padding: 0 2% 20px;
    min-height: 50px;
}

.edit-exam-bot.no-padding{
    width: 100%;
    padding: 0;
}

.edit-exam-bot .error{
    padding-right: 5px;
}

.edit-exam-bot .e-exam-stem{
    position: relative;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    padding-left: 65px;
    margin-top: 10px;
}
.edit-exam-bot .e-exam-stem-l{
    position: absolute;
    width: 60px;
    left: 0;
    top: 0;
    height: 100%;
    text-align: right;
    line-height: 30px;
}
.edit-exam-bot .e-exam-stem-c{
    width: 100%;
    /*background: #FFFFFF;*/
    border: 1px solid #EDEDED;
    border-radius: 2px;
    min-height: 30px;
    /*height: 30px;*/
}

.edit-exam-bot .e-exam-stem-c.error{
    background: #FFF4F2;
    border: 1px solid #FF6D4A;
}

.edit-exam-bot .e-exam-option{
    position: relative;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    padding-left: 65px;
    padding-right: 85px;
    margin-top: 10px;
}

.edit-exam-bot .e-exam-stem-r{
    position: absolute;
    width: 85px;
    right: 0;
    top: 0;
    height: 100%;
    text-align: right;
    line-height: 30px;
}

.edit-exam-bot .cus-checkbox-exam{
    display: inline-block;
    width: 26px;
    height: 32px;
    cursor: pointer;
    margin-left: 20px;
    float: left;
}

.edit-exam-bot .single .cus-checkbox-exam{
    background: url("../img/index.png") no-repeat -176px -344px;
}

.edit-exam-bot .single .cus-checkbox-exam:hover{
    background: url("../img/index.png") no-repeat -205px -344px;
}

.edit-exam-bot .single .cus-checkbox-exam.active{
    background: url("../img/index.png") no-repeat -146px -344px !important;
}

.edit-exam-bot .mul .cus-checkbox-exam{
    background: url("../img/index.png") no-repeat -176px -321px;
}

.edit-exam-bot .mul .cus-checkbox-exam:hover{
    background: url("../img/index.png") no-repeat -205px -321px;
}

.edit-exam-bot .mul .cus-checkbox-exam.active{
    background: url("../img/index.png") no-repeat -146px -321px !important;
}


.edit-exam-bot .e-exam-stem-r .cus-del-exam{
    display: inline-block;
    width: 26px;
    height: 32px;
    cursor: pointer;
    float: right;
    background: url("../img/lesson.png") no-repeat -313px -221px;
}

.edit-exam-bot .e-exam-stem-r .cus-del-exam:hover{
    background: url("../img/lesson.png") no-repeat -313px -247px;
}

.e-exam-error {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: auto;
    color: #FB6969;
    text-indent: 20px;
    float: right;
    margin-right: 30px;
}

.e-exam-error:before {
    display: inline-block;
    width: 19px;
    position: absolute;
    left: 0;
    top: 2px;
    content: '';
    height: 24px;
    background: url("../img/warning.png") no-repeat center 6px;
}

.condition-three{
    margin-top: 10px;
}
.condition-three .con-one-left{
    line-height: 28px !important;
}

.edit-exam-bot .e-exam-stem-judge{
    width: 100%;
    /*background: #FFFFFF;*/
    height: 30px;
}

.edit-exam-bot .e-exam-stem-judge .e-exam-stem-j-tip{
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: left;
}

/*.edit-exam-bot .e-exam-stem-judge{*/
    /*width: 100%;*/
    /*background: #FFFFFF;*/
    /*height: 30px;*/
/*}*/

.add-option{
    width: 60px;
    color: #5BA2EA;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
}

.e-exam-stem-c .edui-default .edui-editor-toolbarbox{
    position: absolute;
    top: -37px;
    left: -1px;
    background: #FFF;
    height: 35px;
    width: auto;
    zoom: 1;
    border: 1px solid #EDEDED;
    box-shadow: none;
    border-bottom: none;
    display: none;
}

.e-exam-stem-c .edui-editor-toolbarbox.u-show{
    display: block !important;
}
.e-exam-stem-c .edui-editor-bottomContainer{
    display: none !important;
}

.e-exam-stem-c .edui-for-exam{
    display: none !important;
}

.e-exam-stem-c .edui-default .edui-editor-toolbarboxinner{
    padding: 4px;
}

.e-exam-stem-c .edui-default .edui-editor-iframeholder{
    overflow: auto;
}

.e-l-edit-con .edui-default .edui-editor-iframeholder{
    height: 100% !important;
}

.edit-type-text{
    height: 30px;
    line-height: 28px;
    text-indent: 12px;
}

.e-exam-stem-c.no-border{
    border: none;
}

.edit-exam-bot .e-exam-option.com{
    padding-left: 35px;
    padding-right: 0;
}

.e-exam-stem-l.com{
   width: 35px;
   text-align: left;
}

.edit-exam-bot .e-exam-stem-c.error{
    background: #FFF4F2;
    border: 1px solid #FF6D4A;
    color: #323C47;
}

.e-exam-stem-c.type-info{
    width: 60%;
    display: inline-block;
    border: none;
    line-height: 30px;
    background: #FAFAFA;
}

.e-exam-stem .del{
    width: 30px;
    float: right;
    display: inline-block;
    height: 30px;
    cursor: pointer;
    background: url("../img/lesson.png") -195px -1px no-repeat;
}

.e-exam-stem .del:hover {
    background: url("../img/lesson.png") -195px -65px no-repeat;
}

.comprehensive-t{
    width: 96%;
    padding: 0 2% 10px;
    border-bottom: 1px solid #EDEDED;
    height: auto;
    background: #FFF;
}

.comprehensive-t .e-exam-stem:first-child{
    margin-top: 0;
}
.comprehensive-c{
   width: 100%;
    height: auto;
}
.comprehensive-b{
    width: 96%;
    padding: 0 2%;
    height: 72px;
    position: relative;
}
.comprehensive-b .compreh-add-s{
    width: 110px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #5BA2EA;
    border-radius: 2px;
    color: #5BA2EA;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 65px;
}
.comprehensive-b .compreh-add-s .add-back{
    width: 30px;
    display: inline-block;
    height: 32px;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    float: left;
}
.comprehensive-b .compreh-add-s .add-text{
    width: 60px;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    text-align: center;
    float: left;
}

.comprehensive-b .compreh-add-s:hover{
   background: #5BA2EA;
   color: #FFF;
}

.comprehensive-b .select-small{
    position: absolute;
    top: 20px;
    left: 65px;
    width: 110px;
    height: 32px;
}
.comprehensive-b .select-small .select-item{
    top: 35px;
    width: 112px;
    left: -3px;
}

.comprehensive-b .select-small .select-ul{
   max-height: 163px;
}

.small-exam-box{
    width: 96%;
    padding: 0 2% 10px;
    background: #FAFAFA;
    border-bottom: 1px solid #EDEDED;
}

/*预览*/
.preview-act-box .exam-scan-h{
    display: none;
}
.preview-act-box p{
  line-height: 30px;
}
.preview-act-box .pre-act-name{
    font-size: 14px;
    color: #323C47;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
}
.preview-act-box .inner-res{
    width: 280px;
    height: 35px;
    padding: 15px 10px 15px 10px;
    position: relative;
    cursor: pointer;
}

.preview-act-box .inner-res span{
    display: inline-block;
    height: 35px;
    float: left;
}

.preview-act-box .inner-res .pic-back{
    display: inline-block;
    float: left;
    border-radius: 2px;
    width: 40px;
    margin-right: 10px;
}

.preview-act-box .inner-res .name{
    width: auto;
    max-width: 150px;
    font-size: 12px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    white-space: nowrap;
}

.preview-act-box .inner-res .error{
    width: 20px;
    height: 20px;
    margin-top: 6px;
    background: url(../img/lesson.png) no-repeat -251px -252px;
}

.preview-act-box .inner-res .ing{
    width:  15px;
    height: 15px;
    background: url(../img/lesson.png) no-repeat -246px -220px;
}

.preview-act-box .inner-res .del{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url(../img/lesson.png) no-repeat -283px -253px;
}

.preview-act-box .inner-res .music {
    background: url(../img/lesson.png) no-repeat -201px -292px;
}

.preview-act-box .inner-res .pic {
    background: url(../img/lesson.png) no-repeat -264px -292px;
}

.preview-act-box .inner-res .mp4 {
    background: url(../img/lesson.png) no-repeat -329px -292px;
}

.preview-act-box .inner-res .pdf {
    background: url(../img/lesson.png) no-repeat -385px -292px;
}

.preview-act-box .inner-res .word {
    background: url(../img/lesson.png) no-repeat -445px -292px;
}

.preview-act-box .inner-res{
    background: #FFFFFF;
    border: 1px solid #F4F6F9;
    margin-bottom:10px;
}


.question-item table{
    display: inline-block !important;
}
.question-item td {
    /*line-height: 1em !important;*/
    height: auto !important;
    font-size: 28px;
    padding: 0;
    text-align: center;
}
.question-item tr:first-child td {
    /*line-height: 1em !important;*/
    height: auto !important;
}
.question-item .exam-flag{
    float: left;
}
.question-item .exam-scan-intro{
    display: block;
}
.question-item .exam-ku-item-top{
    background-color: #f4f9ff;
}
.exam-qiniu-image{
    vertical-align: middle;
}