<div cid =group class="" style="margin-top: 0px;" sid="group_nav"></div>
<div cid="layout" class="layout" sid = 'global_content' style="height:100%;">
    <div cid="layout_right" class="layout_right" style="background-color: #FFFFFF" sid="graph">
        <div class="right_loops_top_title">完成情况</div>
        <div id="main" style="width: auto   ;height:250px;" cid="pie"></div>
        <div sid="census">
           <!-- <div class="number">
                <span class="">5人</span>
                <div class="number_text_full">已完成</div>
            </div>
            <div class="number"><span class="">5人</span>
                <div class="number_text_unfinished">未完成</div>
            </div>
            <div class="number"><span class="">5人</span>
                <div class="number_text_replenish">补交</div>
            </div>-->
        </div>
        <div class="score_text">
            <span sid="type"></span>平均分：<span sid="average"></span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> 总分：<span sid="total"></span>
        </div>
        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('main'));
        </script>
    </div>
    <div class="layout_left" sid="content" >
        <table class="tble" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td>排名</td>
                <td>学生姓名</td>
                <td>作答情况</td>
                <td>批改情况</td>
                <td>得分</td>
                <td>完成用时</td>
            </tr>
            <tbody sid="table_content">
            <!--<tr>-->
                <!--<td>1</td>-->
                <!--<td>-->
                    <!--<div class="tab_td_text">-->
                        <!--<div cid="" class="sysIco img_sys_ico"><img-->
                                <!--src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg"/></div>-->
                        <!--<a cid="studentElement">陆文</a>-->
                    <!--</div>-->
                <!--</td>-->
                <!--<td>已完成</td>-->
                <!--<td>已批改</td>-->
                <!--<td>11</td>-->
                <!--<td>一小时10分</td>-->
            <!--</tr>-->
            </tbody>
        </table>
    </div>

</div>