.activity {
    background: #f4f6f9;
    height: 100%;
}

.back {
    background-color: #FFFFFF
}

.activity_text {
    float: left;
    margin-left: 16px;
    margin-right: 20px;
    line-height: 35px;
}
.group_but button{
    background: #F4F6F9;
}
.activity_item {
    background: #FFFFFF;
    box-shadow: 0 -1px 0 0 #EDEDED, 0 1px 0 0 #EDEDED;
    box-sizing: border-box;
    height: 35px;
    margin: 5px 0px;
}

.activity_item ul {
    /*border:1px red solid;*/
}

.activity_item ul li {
    text-align: center;
    display: inline-block;
    height: 26px;
    float: left;
    min-width: 50px;
    cursor: pointer;
    margin-top: 5px;
    line-height: 25px;
    padding: 0px 20px;
}

.activity_item ul li.active {
    background: #5BA2EA;
    color: #FFF;
    border-radius: 14px;
}

.activity_item ul li.on {
    background: #5BA2EA;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    border-radius: 100px;
}

.activity .clear {
    clear: both;
}

.activity .list {
    width: auto;
    height: auto;
    float: left;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.list .plate {
    position: absolute;
    top: 30%;
    right: 20px;
    width: 70px;
    height: 70px;
}

.activity .list .row {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 15px 10px;
    width: 300px;
    height: 185px;
    position: relative;
}

.row .row_text_ico {
    float: left;
    background: url("../../img/lesson.png") no-repeat -234px -171px;
    width: 14px;
    height: 17px;
}

.row .but_group {
    clear: both;;
    position: relative;
    border-top: 1px solid #EDEDED;
    bottom: -10px;
    height: 50px;
}

.row .row_t {
    height: 22px;
}

.row .row_text {
    float: left;
    width: auto;
    margin-left: 10px;
}

.but_group .but_ico {
    position: relative;
    margin-top: 5px;
    float: right;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 0px 8px;
}

.but_ico .div {
    padding: 5px;
}

.but_ico .but_text {
    padding: 5px 0px;
}

.but_group .but_correct {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -375px 0px;
}

.but_group .but_correct:hover {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -375px -42px;
}

.but_group .but_answer {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -262px 0px;
}

.but_group .but_answer:hover {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -262px -47px;
}

.but_group .but_answer.on {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -262px -47px;
}

.but_group .but_explain {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -295px 0px;
}

.but_group .but_explain:hover {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -295px -47px;
}

.but_group .but_preview {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -340px 0px;
}

.but_group .but_preview:hover {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -340px -47px;
}

.but_group .but_remove {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -198px 0px;
}

.but_group .but_remove:hover {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -198px -64px;
}

.type_item .but_remove {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -198px 0px;
}

.type_item .but_remove:hover {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -198px -64px;
}

.layout .type, .explain {
    clear: both;
    border: 1px #FFFFFF solid;
}

.type, .explain .type_item {

}

.type_item .type_title {
    padding: 10px 0px;
    font-size: 14px;
    color: #323C47;
    letter-spacing: -0.34px;
    padding-bottom: 10px;;
    margin-left: 10px;
    float: left;
}

.type_item .type_title_look {
    float: left;
    background: url("../../img/2x/xs1_icon@2x.png") -0px 5px  no-repeat ;
    background-size: 100% ;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}

.type_title_right {
    float: left;
    background: url("../../img/2x/dui1_icon@2x.png") no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    margin: 5px;
    cursor: pointer;
}

.type_title_error {
    float: left;
    background: url("../../img/2x/cuo1_icon@2x.png") no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    margin: 5px;
    cursor: pointer;
}

.type_title_noRight {
    float: left;
    background: url("../../img/2x/bandui1_icon@2x.png") no-repeat;
    background-size: 100%;
    width: 16px;
    height: 16px;
    margin: 5px;
    cursor: pointer;
}
.type_item .type_title_look.shut {
/*.type_item .type_title_look:hover {*/
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    background: url("../../img/2x/yinc1_icon@2x.png") 0px 10px no-repeat ;
    background-size: 100%;
}

.type_item .type_item_row {
    clear: both;
    width: 100%;
    height: 18px;
    margin-bottom: 10px;
    font-size: 12px;
    position: relative;
}

.type_item .quest_number {
    text-align: center;
    float: left;
    padding: 0px 5px;
    height: 18px;
    background: #FF6D4A;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
}

.type_item .on {
    background: #68C426 !important;
}

.type_item .number_people {
    text-align: center;
    float: right;
    width: 27px;
    height: 18px;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    line-height: 18px;
}

.type_item .quest_progress {
    margin-left: 19px;
    margin-right: 28px;
    height: 100%;
    word-break: break-all;
    background: #EDEDED;
    text-align: right;
}

.quest_progress .up_pro {
    float: left;
    background: #FF6D4A;
    width: 5%;
    height: 100%;
}

.quest_progress .pro_text {
    position: absolute;
    right: 30px;
    font-size: 10px;
    color: #808FA3;
    letter-spacing: 0;
    line-height: 18px;
}

.icon_list {
    min-width: 46px;
    height: auto;
    margin: 2px;
    float: left;
    font-size: 18px;
}

/*资料统计*/
.datum_layour {
    padding: 5px;
}

.datum_left {
    width: 100%;
    float: left;
}

.datum_left .datum_item {
    height: 46px;
    line-height: 46px;
    box-sizing: border-box;
    border: 1px solid #EDEDED;
    background: #FFFFFF;
}
.datum_item .item_text{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 270px;
}

.datum_left .datum_item.on {
    background: #EDF5FF;
    cursor: pointer;
}

.datum_right {
    margin-left: 322px;
    min-width: 596px;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.datum_layour .datum_item_icon {
    float: left;
    margin: 13px;
    width: 20px;
    height: 20px;
}

.datum_layour .icon_ppt {
    background: url("../../img/2x/ppt2x.png") no-repeat;
    background-size: 100%;
}

.datum_layour .icon_doc {
    background: url("../../img/2x/doc@2x.png") no-repeat;
    background-size: 100%;
}

.datum_layour .icon_mp3 {
    background: url("../../img/2x/midi@2x.png") no-repeat;
    background-size: 100%;
}

.datum_layour .icon_mp4 {
    background: url("../../img/2x/mp4@2x.png") no-repeat;
    background-size: 100%;
}

.datum_layour .icon_def {
    background: url("../../img/2x/image@2x.png") no-repeat;
    background-size: 100%;
}
.datum_layour .icon_txt {
    background: url("../../img/2x/text@2x.png") no-repeat;
    background-size: 100%;
}
.datum_layour .icon_pdf {
    background: url("../../img/fileIco/pdf2.png") no-repeat center;
    background-size: 18px;
}
.datum_layour .statistics {
    background: #FFFFFF;
    /*border: 1px solid #EDEDED;*/
    height: 184px;
    position: relative;
    width: auto;
}

.datum_right .text_all {
    float: right;
    padding-left: 15px;
    margin-right:19px;
    line-height: 16px;
}

.representative {
    margin: 5px;
    height: 100%;
    border-radius: 6px 0 0 6px;
    height:100%;
}
.representative1 {
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 170px;
}

.representative .repre_left {
    background: #FFFFFF;
    width: 170px;
    height: 100%;
    float: left;
}

.representative .repre_left.r-box-out{
    border: 1px solid #EDEDED;
    border-radius: 6px 0 0 6px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 44px;
    position: absolute;
    left: 0;
    top: 0;
}

.representative .repre_left .repre_left-top{
    position: absolute;
    top: 0;
    left: 0;
}

.correct .correct_left {
    width: 133px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    border-radius: 6px 0 0 6px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    float: left;
}

.repre_left .list_item {
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    background: #FFFFFF;
    padding-left: 10px;
    position: relative;
    cursor: pointer;
}

.repre_left .list_item.on {
    background: #EDF5FF;
    cursor: pointer;
    font-size: 16px;
    color: #5BA2EA;
}

.list_item .item_num {
    text-align: center;
    font-size: 8px;
    background: #EDF5FF;
    border: 1px #EDEDED solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 18px;
    transform: scale(0.9);
    margin-top: 7px;
    float: right;
}

.correct .list_item {
    height: 48px;
    line-height: 36px;
    box-sizing: border-box;
    background: #FFFFFF;
    padding-left: 10px;
    cursor: pointer;
}

.correct .list_item.on {
    background: #EDF5FF;
    cursor: pointer;
    font-size: 12px;
    color: #5BA2EA;
}

.correct .list_item .tab_td_text {
    padding-top: 5px;
}

/*.correct .list_item:hover {*/
    /*background: #EDF5FF;*/
    /*cursor: pointer;*/
    /*font-size: 12px;*/
    /*color: #5BA2EA;*/
/*}*/

.repre_right {
    margin-left: 172px;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.repre_right.repre_right1 {
    margin-left: 0px;
}

.retract {
    padding-left: 20px;
}

.exam_layout {
    overflow: hidden;
    overflow-y: scroll;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    width: 100%;
    padding-left: 10px;

}
.exam_layout .exam-scan{
    background:#FFF;
    padding-left: 20px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    margin-bottom: 6px;
}
.correct {
    position: relative;
    margin: 5px 10px;
    background: #FAFAFA;
    /*border: 1px solid #EDEDED;*/
    border-radius: 6px;
    overflow: hidden;
}

.correct .middle {
    margin-left: 137px;
    margin-right: 210px;
    height: 100%;
    border: 1px #EDEDED solid;
    position: relative;
}

.middle_head {
    height: 46px;
    line-height: 46px;
    position: absolute;
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 #EDEDED;
    border-radius: 0 6px 0 0;
}

.middle_list {
    height: 46px;
    line-height: 46px;
    position: relative;
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 #EDEDED;
    border-radius: 0 6px 0 0;
}

.head {
    height: 46px;
    line-height: 46px;
    width: 100%;
    background: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 1px 0 0 #EDEDED;
    border-radius: 0 6px 0 0;
}

.correct_right {

}

.correct_right .tools_menu {
    background-color: #EDEDED;
    margin: 3px;
}

.correct .button {
    cursor: pointer;
    border-radius: 2px;
    float: left;
    margin: 6px;
}

.right {
    width: 34px;
    height: 34px;
    background: url("../../img/2x/dui_nor@2x.png") no-repeat;
    background-size: 100%;
}

.right_on {
    width: 34px;
    height: 34px;
    background: url("../../img/2x/dui_sel@2x.png") no-repeat ;
    background-size: 100%;
}

.notRight {
    width: 34px;
    height: 34px;
    background: url("../../img/2x/bandui_nor@2x.png") no-repeat;
    background-size: 100%;
}

.notRight_on {
    width: 34px;
    height: 34px;
    background: url("../../img/2x/bandui_sel@2x.png") no-repeat ;
    background-size: 100%;
}

.wrong {
    width: 34px;
    height: 34px;
    background: url("../../img/2x/cuo_nor@2x.png") no-repeat ;
    background-size: 100%;
}

.wrong_on {
    width: 34px;
    height: 34px;
    background: url("../../img/2x/cuo_sel@2x.png") no-repeat;
    background-size: 100%;
}

.wipe {
    width: 34px;
    height: 34px;
    background: url("../../img/2x/xiangpi_nor@2x.png") no-repeat ;
    background-size: 100%;

}

.wipe_on {
    width: 34px;
    height: 34px;
    background: url("../../img/2x/xiangpi_sel@2x.png") no-repeat ;
    background-size: 100%;
}

.succ {
    width: 15px;
    height: 12px;
    background: url("../../img/succ.png") no-repeat;
}

.noright {
    width: 15px;
    height: 12px;
    background: url("../../img/noright.png") no-repeat;
}

.fault {
    width: 15px;
    height: 12px;
    background: url("../../img/fault.png") no-repeat;
}

.exhibition {
    clear: both;
    height: 99%;
    min-height: 200px;
    background: #FFFFFF;
    overflow: hidden;
    overflow-y: auto;
}
.correct_save{
    background-image: linear-gradient(-134deg, #5AA2EA 0%, #86A9F6 100%);
    border-radius: 2px;
    width: 60px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    font-size:12px ;
    margin: 0 auto;
    position: fixed;
    right: 83px;
    bottom: 20px;
    z-index: 2;
}



.exhibition .item {
    position: relative;
    height: 36px;
    margin-top: 0px;
    padding: 10px;
}

.exhibition .locat {
    position: absolute;
    right: 0px;
    top: 0px;
}

/*.submit {*/
/*clear: both;*/
/*background-image: linear-gradient(-134deg, #5AA2EA 0%, #86A9F6 100%);*/
/*width: 60px;*/
/*height: 28px;*/
/*box-sizing: border-box;*/
/*line-height: 28px;*/
/*text-align: center;*/
/*color: #FFFFFF;*/
/*cursor: pointer;*/
/*position: absolute;*/
/*left: 70px;*/
/*bottom: 10px;*/
/*margin-left: auto;*/
/*margin-right: auto;*/
/*border-radius: 2px;*/
/*}*/

.excellent {
    float: left;
    margin: 10px 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url("../../img/2x/youxiu_nor@2x.png") no-repeat;
    background-size: 100%;
}

.excellent.on {
    background: url("../../img/2x/youxiu_sel@2x.png") no-repeat ;
    background-size: 100%;
}

.rough {
    float: left;
    margin: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url("../../img/2x/cucao_nor@2x.png") no-repeat;
    background-size: 100%;
}

.rough.on {
    background: url("../../img/2x/cucao_sel@2x.png") no-repeat;
    background-size: 100%;
}

.modify {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    background: url("../../img/activity.png") no-repeat -101px -88px;
}

.labelList {
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.content_info {
    display: block;
    height: 30px;
    text-align: center;
    line-height: 35px;
    color: #808FA3;
    cursor: pointer;
}

.content_info:hover {
    display: block;
    height: 30px;
    text-align: center;
    line-height: 35px;
}

.font_way {
    font-weight: 800;
}

.anno {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 8px;
    border-radius: 10px;
    background-color: #5BA2EA;;
    color: #FFFFFF;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    letter-spacing: 0;
}

.layout_left .exam-scan {
    background-color: #ffffff;
    padding-left: 20px;
    box-sizing: border-box;
    position: relative;
}

.layout_left .openAnswer {
    position: absolute;
    right: 0px;
    color: #5BA2EA;
    cursor: pointer;
}

.opt {
     border: 1px #419bf9 solid;
 }
.opt_corr{
    border: 1px #419bf9 solid !important;
    background: #419bf9 !important;
    color: #FFFFFF !important;
}
.exhibition .item .opt {
    border: 1px #419bf9 solid !important;
    color: #419bf9 !important;
}
.f_pptWindow {
    position: absolute;
    width: 100px;
    top: 0px;
    left: 0px;
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0 2px 4px 0 #EDEDED;
    border-radius: 4px;
    text-align: center;
}
.list_item .but_remove {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    background: url("../../img/lesson.png") no-repeat -198px 0px;
}

.list_item .but_remove:hover {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -198px -64px;
}
.list_item .but_edit {
    width: 20px;
    height: 20px;
    margin-top: 7px;
    background: url("../../img/lesson.png") no-repeat -90px 0px;
}

.list_item .but_edit:hover {
    width: 20px;
    height: 20px;
    background: url("../../img/lesson.png") no-repeat -90px -64px;
}

.groupList .list_item {
    height: 36px;
    /*line-height: 36px;*/
    box-sizing: border-box;
    background: #FFFFFF;
    padding-left: 10px;
    position: relative;
}
.groupList .list_item .title{
    line-height: 36px;
    float: left;
}

/*讲解典型*/
.exam-answer-item{
    width: 100%;
    height: auto;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    padding: 0;
    background: #ffffff;
    border: 1px solid #EDEDED;
    margin-bottom: 10px;
    border-left: none;
}

.exam-answer-item .exam-answer-item-top{
    height: 45px;
    border-bottom: 1px solid #EDEDED;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    padding:0 15px;
}

.exam-answer-item .exam-answer-item-top .e-a-i-type{
    height: 25px;
    width: 60px;
    margin-top: 10px;
    line-height: 25px;
    text-align: center;
    margin-right: 12px;
    border-radius: 4px;
}

.exam-answer-item .exam-answer-item-top .e-a-i-type.right{
    color: #5BA2EA;
    background: #EDF5FF;
}

.exam-answer-item .exam-answer-item-top .e-a-i-type.error{
    color: #FF6D4A;
    background: #FDDDCB;
}

.exam-answer-item .exam-answer-item-top .e-a-i-name{
    height: 45px;
    width: auto;
    line-height: 45px;
}

.exam-answer-item .exam-answer-item-top .remove_icon{
    height: 30px;
    width: 30px;
    margin-top: 7px;
    cursor: pointer;
    background: url("../../img/2x/del_icon@2x.png") no-repeat ;
    background-size: 75%;
}

.exam-answer-item .exam-answer-item-top .look_icon{
    height: 30px;
    width: 28px;
    margin-top: 7px;
    margin-right: 20px;
    background: url("../../img/look_grey.png") no-repeat 0px 5px;
}

.exam-answer-item .exam-answer-item-top .look_icon.active{
    background: url("../../img/activity.png") no-repeat -72px -26px;
}

.exam-answer-item .exam-answer-item-bot{
    height: auto;
    width: 100%;
    padding:0 15px 0 22px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
}
.exam-answer-item .exam-answer-item-top .type_title_look {
    float: right;
    background: url("../../img/activity.png") no-repeat -69px -25px;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}
.exam-answer-item .exam-answer-item-top .type_title_look.shut {
    float: right;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    background: url("../../img/activity.png") no-repeat -69px 5px;
}
.tab_td_text{
    font-size: 16px;
}
.redNode{
    display:block;
    background:#FF6D4A;
    border-radius:50%;
    width:6px;
    height:6px;
    top:9px;
    right:13px;
    position:absolute;
}
.exam-answer-item .exam-answer-item-top .type_title_look.shut {
    float: right;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
    background: url("../../img/2x/yinc1_icon@2x.png") no-repeat 0px 10px;
    background-size: 100%;
    border:1px #ffffff solid;
}
.exam-answer-item .exam-answer-item-top .type_title_look {
    border:1px #ffffff solid;
    float: right;
    background: url("../../img/2x/xs1_icon@2x.png") 0px 5px no-repeat ;
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin: 5px;
    cursor: pointer;
}
