<div class="navigation">
    <div cid="left" class="button button_left"></div>
    <div cid="right" class="button button_rigth"></div>
    <div cid="center" class="center">
        <div class="circle cir_red back_red">1</div>
        <div class="circle cir_yeow">2</div>
        <div class="circle cir_green">3</div>
        <div class="circle cir_gray">4</div>
        <div class="circle cir_red">5</div>
        <div class="circle cir_yeow">6</div>
        <div class="circle cir_green">7</div>
        <div class="circle cir_gray">8</div>
        <div class="circle cir_red">9</div>
        <div class="circle cir_yeow">10</div>
        <div class="circle cir_green">11</div>
        <div class="circle cir_gray">12</div>
        <div class="circle cir_red">13</div>
        <div class="circle cir_yeow">14</div>
        <div class="circle cir_gray">15</div>
    </div>
</div>