<div class="navigation">
    <div cid="left" class="button button_left"></div>
    <div cid="right" class="button button_rigth"></div>
    <div cid="center" class="center">
        <div class="lebel on">一组</div>
        <div class="lebel">二组</div>
        <div class="lebel">三组</div>
        <div class="lebel">四组</div>
        <div class="lebel">五组</div>
        <div class="lebel">六组</div>
        <div class="lebel">七组</div>
        <div class="lebel">八组</div>
        <div class="lebel">九组</div>
        <div class="lebel">十组</div>
        <div class="lebel">十一组</div>
        <div class="lebel">十二组</div>
        <div class="lebel">十三组</div>
        <div class="lebel">十四组</div>
        <div class="lebel">一组</div>
        <div class="lebel">二组</div>
        <div class="lebel">三组</div>
        <div class="lebel">四组</div>
        <div class="lebel">五组</div>
        <div class="lebel">六组</div>
        <div class="lebel">七组</div>
        <div class="lebel">八组</div>
        <div class="lebel">九组</div>
        <div class="lebel">十组</div>
        <div class="lebel">十一组</div>
        <div class="lebel">十二组</div>
        <div class="lebel">十三组</div>
        <div class="lebel">十四组</div>
        <div class="lebel">一组</div>
        <div class="lebel">二组</div>
        <div class="lebel">三组</div>
        <div class="lebel">四组</div>
        <div class="lebel">五组</div>
        <div class="lebel">六组</div>
        <div class="lebel">七组</div>
        <div class="lebel">八组</div>
        <div class="lebel">九组</div>
        <div class="lebel">十组</div>
        <div class="lebel">十一组</div>
        <div class="lebel">十二组</div>
        <div class="lebel">十三组</div>
        <div class="lebel">十四组</div>
    </div>
</div>