<div class="type_item back" style="clear:both;">
    <div class="type_title">典型错误</div>
    <div class="type_title_look" sid="bad_open"></div>
    <br style="clear: both;">
</div>
<div style="overflow:hidden;background-color:#f5f7f9;min-height: 20px;" sid="bad_list">
</div>
<div class="type_item back" style="clear:both;" >
    <div class="type_title">优秀解答</div>
    <div class="type_title_look" sid="good_open"></div>
    <br style="clear: both;">
</div>
<div style="overflow:hidden;background-color:#f5f7f9;min-height: 20px;" sid="good_list">
    <!--<div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img sid="image">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name" sid="name"></div>
    </div>-->
</div>
<!--

    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
    <div class="icon_list">
        <div cid="" class="sysIco img_sys_ico" style="margin-left: auto;margin-right: auto;float: none;">
            <img src="img/ico/4b90f603738da977d0d4af33b251f8198618e32b.jpg">
        </div>
        <div style="margin:5px;text-align: center;ont-size: 12px;color: #808FA3;letter-spacing: 0;"
             class="name">name</div>
    </div>
</div>-->
