.answer-exam {
    height: 100%;
    padding-top: 52px;
    font-size: 1.6rem;
    /*border: 1px solid red;*/
    /*overflow-y: auto;*/
}

.answer-exam .ans-e-num {
    position: fixed;
    top: 0;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 5px 30px 5px;
    overflow-x: auto;
    background: #FFF;
    z-index: 1;
}

.answer-exam .ans-e-num-item {
    margin-right: 20px;
    width: 38px;
    height: 38px;
    border: 1px solid #C6DEFF;
    border-radius: 100%;
    line-height: 38px;
    text-align: center;
    color: #4291FF;
    display: inline-block;
    font-size: 1.6rem;
}

.answer-exam .ans-e-num-item.all {
    background: #C6DEFF !important;
}

.answer-exam .ans-e-num-item.half {
    background: url("../img/zuoda_bg@2x.png") no-repeat center !important;
}

.answer-exam .ans-e-num-item .jump-box{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.answer-exam .ans-e-num-item .jump-box.all {
    background: #C6DEFF !important;
}
.answer-exam .ans-e-num-item .jump-box.half {
    background: url("../img/zuoda_bg@2x.png") no-repeat center !important;
}


.answer-exam .ans-e-con {
    width: 97%;
    height: 100%;
    margin: 0 0 0 3%;
    padding-right: 12px;
    overflow-y: auto;
    box-sizing: border-box;
}

.ans-e-exam {
    width: 100%;
    min-height: 40px;
    height: auto;
    position: relative;
    padding-left: 40px;
}

.ans-e-exam .ans-e-a-coll {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    background: red;
    background: url("../img/weicang_icon@2x.png") no-repeat center;
    background-size: 24px 24px;
}

.ans-e-exam .coll-res {
    height: 56px;
}

.ans-e-exam .ans-e-a-coll.active {
    background: url("../img/coll-yes.png") no-repeat center;
    background-size: 24px 24px;
}

.ans-e-exam .ans-e-a-r {
    width: 100%;
    min-height: 40px;
}

/*试题预览*/
.exam-scan {
    width: 100%;
    height: auto;
    color: #323C47;
    line-height: 35px;
    margin-bottom: 12px;
}

.exam-scan .exam-flag {
    display: inline-block;
    width: 30px;
    float: left;
}

.exam-scan .exam-i {
    display: inline-block;
    width: auto;
}

.exam-scan-o-li, .exam-scan-h {
    padding-left: 25px;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
    box-sizing: border-box;
    position: relative;
    min-height: 30px;
}


.exam-scan .exam-scan-o-li .exam-text{
   width: 100%;
   display:block;
   height: auto;
}

.exam-scan-h {
    padding-left: 75px;
}

.exam-tip, .exam-ana {
    display: inline-block;
    width: 20px;
    position: absolute;
    left: 0;
    /*top: 0;*/
}

.exam-tip.active {
    background: #4291FF;
    left: -4px;
    top: 9px;
    height: 20px;
    line-height: 19px;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.exam-scan-h {
    background: #F4F6F9;
}

.exam-scan-hh {
    padding-left: 23px;
    margin-bottom: 10px;
}

.exam-scan-hh .exam-ana {
    position: inherit;
}

.exam-scan-hh .exam-text {
    position: relative;
}

.exam-scan-hh .exam-text .imgUP {
    width: 200px;
    height: 200px;
    margin: 0 20px 0 0;
}

.exam-scan-hh .exam-text .flag {
    position: absolute;
    right: 0;
    top: -27px;
    display: none;
    width: 36px;
    height: 36px;
}

.exam-scan-hh .exam-text .flag.true-answer {
    background: url("../img/quandui_icon@2x.png") center no-repeat;
    background-size: 30px 30px;
}

.exam-scan-hh .exam-text .flag.half-true {
    background: url("../img/bandui_icon@2x.png") center no-repeat;
    background-size: 30px 30px;
}

.exam-scan-hh .exam-text .flag.false-answer {
    background: url("../img/quancuo_icon@2x.png") center no-repeat;
    background-size: 30px 30px;
}


/*对齐方案*/
.exam-scan .exam-scan-stem,.exam-scan-option{
    padding-left: 23px;
    padding-right: 23px;
}

.exam-scan .exam-scan-h .exam-ana{
    left: 23px;
}

.exam-scan>.exam-scan-h{
    padding-top: 10px;
    padding-right: 23px;
}

.exam-scan .ans-left-has-p{
    top: 10px;
}

.exam-scan>.exam-scan-h:last-child{
    padding-bottom: 10px;
    padding-top: 0px;
}


/*填空题空格*/
input.cus-com {
    border: none;
    border-bottom: 1px solid #323C47;
    width: auto;
    outline: none;
    color: #323C47;
    text-align: center;
    margin: 0 10px;
    border-radius: 0;
}

span.black_filling {
    font-size: 90%;
    line-height: normal;
    word-break: normal;
    outline: none;
    padding: 0 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
}

span.black_filling.error {
    font-size: 90%;
    line-height: normal;
    word-break: normal;
    outline: none;
    color: #FF3B30;
    text-align: center;
    padding: 0 20px;
    border-bottom: 1px solid black;
}

span.black_filling.success {
    font-size: 90%;
    line-height: normal;
    word-break: normal;
    outline: none;
    text-align: center;
    padding: 0 20px;
    border-bottom: 1px solid black;
}

input.black_filling {
    font-size: 90%;
    width: 30px;
    line-height: normal;
    word-break: normal;
    outline: none;
    padding: 0 10px;
    margin: 0 5px;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

input.black_filling.error {
    font-size: 90%;
    width: 30px;
    line-height: normal;
    word-break: normal;
    outline: none;
    color: #FF3B30;
    text-align: center;
    padding: 0 10px;
    border: 0;
    border-bottom: 1px solid black;
}

input.black_filling.success {
    font-size: 90%;
    width: 30px;
    line-height: normal;
    word-break: normal;
    outline: none;
    text-align: center;
    padding: 0 10px;
    border: 0;
    border-bottom: 1px solid black;
}

input.black_filling:disabled {
    background-color: #ffffff;
}

/*.exam-tip.true-answer{*/
/*left: -4px;*/
/*top: 5px;*/
/*height: 20px;*/
/*line-height: 19px;*/
/*background: #68C426;*/
/*text-align: center;*/
/*border-radius: 100%;*/
/*color: #FFF;*/
/*}*/

/*.exam-tip.half-true{*/
/*left: -4px;*/
/*top: 5px;*/
/*height: 20px;*/
/*line-height: 19px;*/
/*background: #FFD012;*/
/*text-align: center;*/
/*border-radius: 100%;*/
/*color: #FFF;*/
/*}*/

/*.exam-tip.false-answer{*/
/*left: -4px;*/
/*top: 5px;*/
/*height: 20px;*/
/*line-height: 19px;*/
/*background: #FF6D4A;*/
/*text-align: center;*/
/*border-radius: 100%;*/
/*color: #FFF;*/
/*}*/

.exam-ana {
    width: 50px;
    color: #5BA2EA;
}

.exam-scan-small-box {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-left: 20px;
}

/*预览*/
.ans-e-con .exam-scan-h {
    display: none;
}

.ans-e-con p {
    line-height: 35px;
}

.ans-e-con .pre-act-name {
    font-size: 14px;
    color: #323C47;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
}

.inner-res {
    width: 280px;
    height: 35px;
    padding: 15px 10px 15px 10px;
    position: relative;
    cursor: pointer;
}

.inner-res span {
    display: inline-block;
    height: 35px;
    float: left;
}

.inner-res .pic {
    display: inline-block;
    float: left;
    border-radius: 2px;
    width: 40px;
    margin-right: 10px;
}

.inner-res .back {
    display: inline-block;
    float: left;
    border-radius: 2px;
    width: 40px;
    margin-right: 10px;
}

.inner-res .name {
    width: auto;
    max-width: 150px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    white-space: nowrap;
}

.inner-res .error {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    background: url(../img/lesson.png) no-repeat -251px -252px;
}

.inner-res .ing {
    width: 15px;
    height: 15px;
    background: url(../img/lesson.png) no-repeat -246px -220px;
}

.inner-res .del {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url(../img/lesson.png) no-repeat -283px -253px;
}

.inner-res .music {
    background: url(../img/lesson.png) no-repeat -202px -289px;
}

.inner-res .pic {
    background: url(../img/lesson.png) no-repeat -264px -292px;
}

.inner-res .mp4 {
    background: url(../img/lesson.png) no-repeat -329px -292px;
}

.inner-res .pdf {
    background: url(../img/lesson.png) no-repeat -385px -292px;
}

.inner-res .word {
    background: url(../img/lesson.png) no-repeat -445px -292px;
}

.inner-res .txt {
    background: url(../img/txt-s.png) no-repeat center;
}

.inner-res .real-pdf {
    background: url(../img/pdf1@2x.png) no-repeat center;
    background-size: 38px 34px;
}

.inner-res {
    background: #FFFFFF;
    border: 1px solid #F4F6F9;
    margin-bottom: 10px;
}

/*简答题*/
.short-exam-a {
    width: 100%;
    height: auto;
    padding-left: 23px;
    margin-top: 10px;
    clear: both;
    position: relative;
    z-index: 10;
}

.short-exam-a .s-e-menu {
    width: 100%;
    height: 50px;
    background: #FAFAFA;
    border: 1px solid #C5D1E6;
    border-radius: 4px;
    text-align: left;
    line-height: 50px;
    position: relative;
}

.short-exam-a .s-e-menu .write-btn {
    height: 50px;
    width: 40px;
    background: url(../img/shouxieban_icon@2x.png) no-repeat center;
    position: absolute;
    left: 40%;
    background-size: 33px 27px;
    top: 0;
    cursor: pointer;
}

.short-exam-a .s-e-menu .photo-btn {
    height: 50px;
    width: 40px;
    background: url("../img/xiangji_icon@2x.png") no-repeat center;
    position: absolute;
    right: 40%;
    background-size: 33px 27px;
    top: 0;
    cursor: pointer;
}

.short-exam-a .s-e-type {
    width: 100%;
    height: auto;
    min-height: 53px;
    background: #FAFAFA;
    border: 1px dotted #4291FF;
    border-radius: 4px;
}

.short-exam-a .s-e-text {
    padding-left: 12px;
    font-size: 1.4rem;
    color: #C5D1E6;
    display: inline-block;
    height: 53px;
    line-height: 44px;

}

.short-exam-a .s-e-del {
    height: 30px;
    width: 30px;
    background: url(../img/del2_icon@2x.png) no-repeat center;
    float: right;
    margin-right: 10px;
    background-size: 18px;
    border: 1px solid #C5D1E6;
    border-radius: 100%;
    margin-top: 8px;
    cursor: pointer;
}

.short-exam-a .s-e-con {
    width: 100%;
    min-height: 200px;
    height: auto;
}

.short-exam-a .s-e-type-t {
    width: 100%;
    height: 53px;
}

.short-exam-a .add-photo {
    width: 200px;
    min-height: 200px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    padding: 25px 20px;
    border-radius: 4px;
    margin-left: 20px;
    margin-bottom: 16px;
    float: left;
    cursor: pointer;
}

.short-exam-a .add-photo .add-pic {
    width: 100%;
    height: 150px;
    border: 1px dotted #C5D1E6;
    border-radius: 4px;
    cursor: pointer;
    background: url("../img/zuoda_icon@2x.png") no-repeat center;
}

/*资源样式*/
.answer-exam .inner-res {
    width: 280px;
    height: 35px;
    padding: 15px 10px 15px 10px;
    position: relative;
    cursor: pointer;
}

.answer-exam .inner-res span {
    display: inline-block;
    height: 35px;
    float: left;
}

.answer-exam .inner-res .back {
    display: inline-block;
    float: left;
    border-radius: 2px;
    width: 40px;
    margin-right: 10px;
}

.answer-exam .inner-res .name {
    width: auto;
    max-width: 150px;
    font-size: 12px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    white-space: nowrap;
}

.answer-exam .inner-res .error {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    background: url(../img/lesson.png) no-repeat -251px -252px;
}

.answer-exam .inner-res .ing {
    width: 15px;
    height: 15px;
    background: url(../img/lesson.png) no-repeat -246px -220px;
}

.answer-exam .inner-res .del {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url(../img/lesson.png) no-repeat -283px -253px;
}

.answer-exam .inner-res .music {
    background: url(../img/lesson.png) no-repeat -201px -292px;
}

.answer-exam .inner-res .pic {
    background: url(../img/lesson.png) no-repeat -264px -292px;
}

.answer-exam .inner-res .mp4 {
    background: url(../img/lesson.png) no-repeat -329px -292px;
}

.answer-exam .inner-res .pdf {
    background: url(../img/lesson.png) no-repeat -385px -292px;
}

.answer-exam .inner-res .word {
    background: url(../img/lesson.png) no-repeat -445px -292px;
}

.answer-exam .inner-res {
    background: #FFFFFF;
    border: 1px solid #F4F6F9;
    margin-bottom: 10px;
}

/*.imgUP {*/
    /*width: 160px;*/
    /*height: 204px;*/
    /*border-radius: 4px;*/
    /*margin-left: 20px;*/
    /*margin-bottom: 20px;*/
    /*float: left;*/
/*}*/

/*.imgUP{*/
    /*min-width: 160px;*/
    /*height:auto;*/
/*}*/

.imgUP {
width: 200px;
height: 200px;
border-radius: 4px;
margin-left: 20px;
margin-bottom: 20px;
float: left;
    border: 1px solid #EDEDED;
    vertical-align: center;
    text-align: center;
    background-color: #FFFFFF;

}

.short-no-answer {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #FF6D4A;
    text-indent: 50px;
}

/*作答结果*/
.answer-result {
    height: 100%;
    padding-top: 52px;
    font-size: 1.6rem;
    /*border: 1px solid red;*/
    overflow-y: auto;
}

.answer-result .ans-r-info {
    position: fixed;
    top: 0;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    left: 0;
    width: 100%;
    height: 40px;
    padding: 5px 30px 5px;
    overflow-x: auto;
    z-index: 1;
    font-size: 1.4rem;
    background: #F4F6F9;
}

.answer-result .ans-r-info-item {
    width: auto;
    height: 10px;
    margin-right: 25px;
    float: left;
    display: inline-block;
}

.answer-result .ans-r-info-span {
    width: auto;
    height: 40px;
    float: left;
    display: inline-block;
    line-height: 40px;
    color: #000000;
}

.answer-result .ans-r-info-tib {
    color: #808FA3;
}

.answer-result .paper {
    color: #808FA3;
    height: 24px;
    margin-top: 8px;
}

.answer-result .paper-pic {
    color: #808FA3;
    height: 24px;
    width: 24px;
    background: url("../img/youxiu_img@2x.png") center no-repeat;
    background-size: 22px 24px !important;
}

.answer-result .paper-pic.bad {
    background: url("../img/cucao_img@2x.png") center no-repeat;
    background-size: 22px 24px !important;
}

.answer-result .paper-text {
    color: #000000;
    font-size: 1.2rem;
    height: 24px;
    width: 62px;
    line-height: 24px;
    text-align: center;
    background: #FFE20D;
    border-radius: 2px;
    margin-left: 10px;
}

.answer-result .green {
    color: #4291FF;
}

.answer-result .ans-r-info-btn {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.answer-result .ans-r-con {
    width: 94%;
    height: 100%;
    margin: 0 auto;
}

.ans-e-res {
    margin-top: 10px;
}

.exam-tip.true-answer {
    left: -4px;
    top: 5px;
    height: 20px;
    line-height: 19px;
    background: #68C426;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.exam-tip.half-true {
    left: -4px;
    top: 5px;
    height: 20px;
    line-height: 19px;
    background: #FFD012;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.exam-tip.false-answer {
    left: -4px;
    top: 8px;
    height: 20px;
    line-height: 19px;
    background: #FF6D4A;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.judge-tip {
    display: inline-block;
    width: 20px;
    height: 30px;
    background: url("../img/radio-off.png") no-repeat left 11px;
}

.judge-tip.active {
    top: 8px;
    left: -3px;
    background: url(../img/radio-on.png) no-repeat 4px 3px;
}

.judge-tip.true-answer {
    top: 8px;
    left: -3px;
    background: url("../img/judge-true.png") no-repeat center center;
}

.judge-tip.false-answer {
    top: 8px;
    left: -3px;
    background: url("../img/judge-false.png") no-repeat center center;
}

.cus-com.true-answer {
    color: #68C426;
}

.cus-com.false-answer {
    color: #FF6D4A;
}

.black_filling.true-answer {
    color: #68C426;
}

.black_filling.false-answer {
    color: #FF6D4A;
}

.empty-view {
    width: 100%;
    height: 100%;
    background: url("../img/empty-pad.png") no-repeat center;
    position: relative;
}

.empty-view .empty-text {
    color: #C5D1E6;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 58%;
    left: 0;
    width: 100%;
}

/*手写板 -- 作答*/
.ans-e-nav {
    width: 130px;
    height: 90px;
    position: fixed;
    top: calc(45% - 45px);
    top: -moz-calc(45% - 45px);
    top: -webkit-calc(45% - 45px);
    font-size: 1.6rem;
    right: 0;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
}

.ans-e-nav .ans-e-nav-top {
    width: 130px;
    height: 44px;
    line-height: 44px;
    color: #323C47;
    border-bottom: 1px solid #EDEDED;
    background: url("../img/ing.gif") no-repeat 10px center;
    text-indent: 10px;
    cursor: pointer;
    text-align: center;
    background-size: 40px;
}

.ans-e-nav .ans-e-nav-bot {
    width: 130px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #4291FF;
    cursor: pointer;
}

.short-writing {
    width: 100%;
    height: 100%;
    min-height: 200px;
    background: url("../img/ing1.gif") no-repeat center;
    background-size: 70px;
}

.exam-scan td, th {
    height: 26px;
    line-height: 26px;
    text-align: center;
}

.no-write-book .write-btn{
  display:none !important;
}
.no-write-book .photo-btn{
    right: 51% !important;
}

.exam-score{
    font-size: 16px;
    color: #808FA3;
    letter-spacing: 0;
    float:left;
    padding-right: 10px;
    display:none;
}
.exam-qiniu-image{
    vertical-align: middle;
}
