/**
 * Created by wjh on 2018/11/8.
 */
.cloze-font {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #323C47;
    letter-spacing: 0;
    line-height: 32px;
}

span.default_filling {
    font-size: 90%;
    line-height: normal;
    word-break: normal;
    outline: none;
    padding: 0 20px;
    margin: 0 5px;
    word-wrap:break-word;
}

.answer_ing {
    color: #4291FF;
    border-bottom: 1px solid #4291FF;
}

.over_ing {
    color: #323C47;
    border-bottom: 1px solid #323C47;
}

.cloze_test_right {
    color: #68C426;
}

.cloze_test_wrong {

    color: #FF6D4A;

}

.cloze_option_right {
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background: #68C426;
    text-align: center;
    line-height: 28px;
    color: #FFFFFF;
}

/*...............预览完型填空...............*/

.scan-cloze-answer {
    padding-left: 19px;
    display: flex;
}

.scan-cloze-flag {
    display: inline-block;
    width: 60px;
    text-align: center;
}

.scan-cloze-option {
    width: 900px;
    display: flex;
    justify-content: space-between;
}
.scan-cloze-item{
    width: 28%;
}

.scan-cloze-item-index{
    display: inline-block;
    margin-right: 5px;
    width: 20px;
}


.scan-cloze-item-index.true-answer {
    left: -4px;
    top: 5px;
    height: 20px;
    line-height: 19px;
    background: #68C426;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.scan-cloze-item-index.false-answer {
    left: -4px;
    top: 8px;
    height: 20px;
    line-height: 19px;
    background: #FF6D4A;
    text-align: center;
    border-radius: 100%;
    color: #FFF;
}

.false-answer {
    color: #FF6D4A;
}
.true-answer {
    color: #68C426;
}


