/*错题本样式表*/
.today-error{
    height: 100%;
    font-size: 1.6rem;
    overflow-y: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.font-black{
    font-size: 16px;
    color: #323C47;
}
.font-black2{
    font-size: 14px;
    color: #323C47;
}

.font-grey{
    font-size: 14px;
    color: #808FA3;
}

.font-red{
    font-size: 14px;
    color: #FF6D4A;
}

.font-blue{
    font-size: 16px;
    color: #4291FF;
    letter-spacing: 0;
}

.bac-grey{
    background: #F4F6F9;
}

.t-subject{
    height: 50px;
    line-height: 50px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 0 #EDEDED, 0 -1px 0 0 #EDEDED;
    padding-left: 20px;
    padding-right: 20px;
}

.t-subject-icon {
    /*display: inline-block;*/
    /*width: 32px;*/
    /*height: 32px;*/
    /*vertical-align: middle;*/
    /*background: url("../img/error/yuwen.png") no-repeat center;*/
}

.test-delete{
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #808FA3;
    background: url("../img/error/del_icon@2x.png") no-repeat center;
    background-size: 25px 25px;
    cursor: pointer;
    vertical-align: middle;
}

/*.t-test{*/
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
/*}*/

.t-test .exam-scan{
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 8px;
}


.t-test .exam-text{
  /*padding-left:15px;*/
}
.t-test .exam-ana{
    width: 45px;
}

.t-test .exam-scan-intro{
    display: none;
}

.exam-scan-small-box .exam-scan-intro{
    display: block !important;
}

.test-ins{
    height: 38px;
    /*line-height: 38px;*/
    padding-left: 20px;
    padding-right: 20px;
}
.stem{
    padding-left: 40px;
    padding-right: 40px;
    height: 83px;
    line-height: 83px;
    margin: 0 auto;
}

.stem-ins{
    margin-left: 20px;
    margin-right: 20px;
    min-height: 55px;
    background: #F4F6F9;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.analyze-contain{
    padding-top: 20px;
}

.answer-detail,.analyze-detail{
    width: 90%;
    margin-left: 20px;
    word-wrap:break-word
}

/*答案的显示隐藏*/
.today-error .ans-r-info-btn {
    float: right;
    margin-top: 8px;
    margin-right: 20px;
}


.today-error .exam-scan-h {
    background: #F4F6F9;
    padding-top: 10px;
}

